.githubButton {
  background-color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-gray-2));
  color: light-dark(var(--mantine-color-white), var(--mantine-color-black));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-dark-8), var(--mantine-color-gray-4));
  }
}
